<div class="ambient-bg grid-dots" aria-hidden="true">
  <div class="ambient-orb -left-48 -top-48 h-[36rem] w-[36rem] bg-violet-600/[0.09]"></div>
  <div class="ambient-orb -right-40 top-0 h-96 w-96 bg-cyan-500/[0.07]"></div>
  <div class="ambient-orb bottom-0 left-1/3 h-80 w-80 bg-blue-600/[0.06]"></div>
  <div class="ambient-orb right-1/4 bottom-1/3 h-72 w-72 bg-indigo-500/[0.05]"></div>
  <svg class="absolute inset-0 h-full w-full opacity-[0.12]" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="circuit" width="120" height="120" patternUnits="userSpaceOnUse">
        <path
          d="M0 60 H40 M80 60 H120 M60 0 V40 M60 80 V120"
          fill="none"
          stroke="rgba(34,211,238,0.35)"
          stroke-width="0.5"></path>
        <circle cx="60" cy="60" r="1.5" fill="rgba(34,211,238,0.5)"></circle>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#circuit)"></rect>
  </svg>
</div>
